.CustomTypography {
  color: #000 !important;
  font-family: Libre Franklin !important;
  font-size: 14px !important;
  font-style: normal !important;
  font-weight: 550 !important;
  line-height: normal !important;
}
