.ContactTitle {
  color: #000 !important;
  font-family: Libre Franklin !important;
  font-style: normal !important;
  font-weight: 500 !important;
  line-height: normal !important;
}

.ContactParagraph {
  color: #424242 !important;
  font-family: Libre Franklin !important;
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  line-height: 166.044% !important; /* 26.567px */
}

.ContactCard {
  background: #323750;
  position: relative;
  display: inline-flex;
  padding: 38px 124px 112px 38px;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.ContactSmallCard {
  width: 60px;
  height: 60px;
  background: #f4f7f8;
  position: absolute;
  top: -20px;
  left: -20px;
}

.ContactCardInfo {
  color: #fff !important;
  font-family: Libre Franklin !important;
  font-size: 28px !important;
  font-style: normal !important;
  font-weight: 600 !important;
  line-height: normal !important;
}

.ContactCardMail,
.ContactCardPhone,
.ContactCardLocation,
.ContactCardTime {
  color: #fff !important;
  font-family: Libre Franklin !important;
  font-size: 18px !important;
  font-style: normal !important;
  font-weight: 600 !important;
  line-height: normal !important;
}

@media (width <= 600px) {
  .ContactCard {
    padding: 38px 75px 55px 38px;
  }
  .ContactSmallCard{
    width: 30px;
    height: 30px;
    position: absolute;
    top: -8px;
    left: -8px;
  }
  .ContactCardMail,
.ContactCardPhone,
.ContactCardLocation,
.ContactCardTime {
  font-size: 14px !important;
}

.ContactCardLocation {
  font-size: 10px !important;

}
}