.BgRectangleWrapper {
  height: 910px !important;
  position: relative;
  margin-top: 14rem;
}

.BgRectangle {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: url(../../../../assets/BgCompanies.png) no-repeat;
}

.CompaniesCard {
  width: 576px !important;
  height: 670px !important;
  padding: 40px 80px !important;
  border-radius: 24px;
  border: 1px solid #ffffff;
  background: linear-gradient(
    49deg,
    #091e3a -5.91%,
    #164078 38.23%,
    #7092ea 97.71%,
    #fff 128.95%
  );
  box-shadow: -10px 10px 25.2px 0px rgba(0, 0, 0, 0.1);
  padding: 40px 80px;
}

.CompaniesCardHeaderText {
  color: #fff !important;
  font-family: Libre Franklin !important;
  font-size: 24px !important;
  font-style: normal !important;
  font-weight: 600 !important;
  line-height: normal !important;
}

.CompaniesCardHeaderText2 {
  color: #fff !important;
  font-family: Libre Franklin !important;
  font-size: 72px !important;
  font-style: normal !important;
  font-weight: 600 !important;
  line-height: normal !important;
  margin: 35px 0 !important;
}

.CompaniesCardHeaderText3 {
  color: #fff !important;
  font-family: Libre Franklin !important;
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  line-height: 170% !important;
}

@media (width <= 600px) {
  .BgRectangleWrapper {
    margin-top: 3rem;
  }
  .CompaniesCard {
    width: 250.244px !important;
    height: 291.082px !important;
    padding: 10px 15px !important;
  }
  .CompaniesCardHeaderText {
    font-size: 10px !important;
  }
  .CompaniesCardHeaderText2 {
    font-size: 31px !important;
    margin: 15px 0 !important;
  }
  .CompaniesCardHeaderText3 {
    font-size: 10px !important;
  }
}
